.paginator {
  font-size: 1rem;
  margin-top: 30px;

  a.prev {
    float: left;

    background: rgba(255,255,255,0.1);
  }

  a.next {
    float: right;

    background: rgba(255,255,255,0.1);
  }

}
